.billion {
  display: flex;
}

.billion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.billion div {
  font-size: 18px;
  margin-top: 15px;
}

.billion div:nth-child(2) {
  font-size: 25px;
  font-weight: bold;
}
